BasedOnStyle: "LLVM"

BreakBeforeBraces: Linux
Standard: Cpp11
ColumnLimit: 100

MaxEmptyLinesToKeep: 2

NamespaceIndentation: All

AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Empty

BreakConstructorInitializersBeforeComma: true
